<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<center><h3>Sign up</h3></center>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <center><div class="container">
  <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.label :email ,:class=>"field-lable"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",:class =>"pass-field",:placeholder=>"Enter Email" %>

    <%= f.label :password ,:class=>"field-lable"%>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password",:class =>"pass-field",:placeholder=>"Enter password" %>

    <%= f.label :password_confirmation,:class=>"field-lable" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",:class =>"pass-field",:placeholder=>"Repeat Password" %>

    <%= f.submit "Sign up",:class=>"registerbtn" %>
    <%= render "devise/shared/links" %>
<% end %>

</div></center>
</body>
</html>