
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <center><div class="container">
    <h3>Login</h3>
    <hr>
    <%= f.label :email,:class=>"field-lable"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",:class =>"pass-field" ,:placeholder=>"Enter Email"%>

    <%= f.label :password, :class=>"field-lable"%><br />
    <%= f.password_field :password, autocomplete: "current-password",:placeholder=>"Enter Password",:class =>"pass-field" %>
    <%= f.submit "Log in",:class=>"registerbtn" %>
    <%= render "devise/shared/links" %>

  </div></center>

<%end %>
</body>
</html>






